.checkout_section
{
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 45% 55%;
}

.checkout_animation
{
    grid-column-start: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.checkout_form_section
{
    grid-column-start: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.checkout_form
{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.checkout-input
{
    width: 100%;
    background-color: transparent;
    margin-top: 1.1%;
    margin-bottom: 1.1%;
}

.checkout-select
{
    width: 100%;
    background-color: transparent;
    margin-top: 1.1%;
    margin-bottom: 1.1%;
}