@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html,
body {
    inset: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #0b0b15;
    display: flex;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: white;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.highlight
{
    color: #6C63FF;
}


ul 
{
    list-style-type: none;
}
