.hero_1
{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.heading
{
    margin-bottom: 0.1%;
}


.hero_2
{
    width: 100vw;
    display: grid;
    grid-template-columns: 5% 35% 55% 5%;
    margin: 0;
}


.hero_2_animation
{
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.hero_2_titles
{
    width: 100%;
    grid-column-start: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


/* Styles for mobile and tablet devices */
@media only screen and (max-width: 768px) {
    

    .hero_1
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .hero_2
    {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        margin: 0;
    }


    .hero_2_animation
    {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-row-start: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

    }

    .hero_2_titles
    {
        width: 100%;
        grid-column-start: 1;
        grid-row-start: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    p
    {
        padding-left: 1.2%;
        padding-right: 1.2%;
    }
}